@font-face {
  font-family: "LeagueSpartan-Regular";
  src: local("LeagueSpartan-Regular"),
    url("assets/fonts/League_Spartan/static/LeagueSpartan-Regular.ttf") format("truetype");
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
